.TransferButton {
  width: 96px;
  height: 96px;
  background: rgba(255, 255, 255, .1) 0 0 no-repeat padding-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;

  // Removing default styles
  border: none;
  padding: 0;
  outline: inherit;
  transition: background .3s ease;

  .img {
    width: 20px;
    height: 36px;
    transition: left .3s ease;
    position: absolute;

    &.img1 {
      left: 30px;
    }

    &.img2 {
      left: 50px;
    }
  }

  &.Hovered, &.Clicked {
    .img2 {
      left: 70px;
    }
  }

  &.Clicked {
    .img1 {
      left: 50px;
    }
  }

  &.Fulfilled {
    background-image: url("../../assets/transfer-success.svg");
  }
}

@media only screen and (max-width: 1500px) {
  .TransferButton {
    width: 70px;
    height: 70px;
    background-size: 100%;

    .img {
      width: 16px;
      height: 25px;

      &.img1 {
        left: 25px;
      }

      &.img2 {
        left: 40px;
      }
    }

    &.Hovered, &.Clicked {
      .img2 {
        left: 50px;
      }
    }

    &.Clicked {
      .img1 {
        left: 35px;
      }
    }

  }
}
