.Input {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 320px;
  height: 64px;
  background: rgba(255, 255, 255, .07);
  border-radius: 32px;
  box-sizing: border-box;


  text-align: left;
  font: normal normal bold 32px/43px Roboto;
  letter-spacing: 0;
  color: rgba(255, 255, 255, .7);
  padding: 0 30px;

  transition: border-radius .3s ease, background .3s ease;

  input {
    font: normal normal bold 32px/43px Roboto;
    color: rgba(255, 255, 255, .7);
    outline: none;
    background: transparent;
    border: none;
    -moz-appearance:textfield;

    &::placeholder {
      color: rgba(255, 255, 255, .7);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  }

  &.Left {
    background: transparent linear-gradient(90deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 0) 100%) 0 0 no-repeat padding-box;
    border-radius: 32px 0 0 32px;
  }

  &.Right {
    border-radius: 0 32px 32px 0;
    background: transparent linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .1) 100%) 0 0 no-repeat padding-box;
    justify-content: flex-end;

    input {
      text-align: right;
    }
  }

  &.Focused {
    border-radius: 32px;
    background: transparent linear-gradient(90deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .1) 100%) 0 0 no-repeat padding-box;
  }

}

@media only screen and (max-width: 1600px) {
  .Input {
    width: 280px;
    height: 50px;
    font: normal normal bold 25px/33px Roboto;

    input {
      font: normal normal bold 25px/33px Roboto;
    }
  }
}
