{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": 0
  },
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
