.SelectWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  &.Left {
    right: 50px;
  }

  &.Right {
    left: 50px;
  }

  &:hover, &.Opened {
    .Background {
      &.Left, &.Right {
        width: 360px;
      }

      border-radius: 32px;
      background: rgba(255, 255, 255, .1) !important;

      &.Left {
        left: -16px;
        border-radius: 32px;
      }

      &.Right {
        right: -16px;
        border-radius: 32px;
      }
    }

    .ArrowRight, .ArrowLeft {
      filter: brightness(200%);
    }

    .ArrowLeft {
      transform: rotate(90deg);
    }

    .ArrowRight {
      transform: rotate(90deg);
    }
  }

  .Background {
    background: rgba(255, 255, 255, .07);
    width: 320px;
    height: 64px;
    position: absolute;
    transition: all .3s ease;
    z-index: 0;

    &.Opened {
      border-radius: 32px 32px 0 0 !important;
    }

    &.Left {
      left: 20px;
      background: transparent linear-gradient(90deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 0) 100%) 0 0 no-repeat padding-box;
      border-radius: 32px 0 0 32px;
    }

    &.Right {
      right: 20px;
      background: transparent linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .1) 100%) 0 0 no-repeat padding-box;
      border-radius: 0 32px 32px 0;
    }
  }

  .ArrowLeft, .ArrowRight {
    width: 7px;
    height: 12px;
    transition: all .3s ease;
    z-index: 100;
  }

  .ArrowLeft {
    transform: rotate(180deg);
    margin-right: 16px;
  }

  .ArrowRight {
    margin-left: 16px;
  }

  .Select {
    position: relative;
    background: transparent;

    &.Input {
      width: 270px;
    }

    &:before, &:after {
      width: 7px;
      height: 12px;
    }

    .Img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      left: 8px;
      position: absolute;
    }

    &.Left {
      padding-left: 80px;
    }

    &.Right {
      padding-left: 30px;
      padding-right: 80px;

      .Img {
        left: unset;
        right: 8px;
      }
    }
  }


  .Options {
    top: 64px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 360px;

    &.Left {
      left: 22px;

      .Input {
        &:before {
          left: -38px;
        }
      }
    }

    &.Right {
      right: 22px;

      .Input {
        &:before {
          left: 38px;
        }
      }
    }

    .Input {
      width: 100%;
      border-radius: 0;
      position: relative;

      &.Last {
        &:before {
          border-radius: 0 0 32px 32px;
        }
      }

      &:before {
        content: '';
        height: 64px;
        width: 360px;
        top: 0;
        background: rgba(255, 255, 255, 0);
        transition: background .3s ease;
        position: absolute;
      }

      &:hover {
        &:before {
          background: rgba(255, 255, 255, .5);
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .SelectWrapper {
    &.Right {
      left: 10px;
    }

    &.Left {
      right: 10px;
    }

    &:hover, &.Opened {
      .Background {
        height: 50px;

        &.Left, &.Right {
          width: 320px;
          height: 50px;
        }
      }
    }

    .Background {
      height: 50px;
    }

    .Options {
      top: 50px;
      .Input {
        width: 100%;
        border-radius: 0;
        position: relative;

        &.Last {
          &:before {
            border-radius: 0 0 32px 32px;
          }
        }

        &.Right:before {
          left: 78px;
        }

        &:before {
          content: '';
          height: 50px;
          width: 320px;
        }
      }
    }

    .Select {
      &.Input {
        .Img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}
