.ConnectButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent radial-gradient(closest-side at 50% 50%, #1C3138 0%, #151F2D 100%) 0 0 no-repeat padding-box;
  min-width: 230px;
  height: 48px;

  text-align: left;
  font: normal normal bold 18px/24px Roboto;
  letter-spacing: 0;
  color: #FFFFFF;
  text-shadow: 0 2px 0 #00000029;
  box-sizing: border-box;
  padding-left: 70px;
  position: relative;
  border-radius: 32px;
  cursor: pointer;
  margin-bottom: 20px;

  .Gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;

    width: 48px;
    height: 48px;
    background: transparent linear-gradient(270deg, #00D975 0%, #00ACCB 100%) 0 0 no-repeat padding-box;
    border-radius: 32px;
    transition: all .3s ease;
    z-index: 1;

    &.Connecting {
      width: 230px;
    }

    .img {
      position: absolute;
      left: 14px;
      width: 20px;
      height: 18px;
    }
  }

  span {
    margin-left: -45px;
    z-index: 2;
  }

  .WalletId {
    font: normal normal bold 18px/24px Roboto;
    color: #FFFFFF;
    text-shadow: 0 2px 0 #00000029;
    opacity: 0.7;
    margin: 0 30px 0 0px;
  }
}

@media only screen and (max-width: 1600px) {
  .ConnectButtonWrapper {
    height: 35px;
    font: normal normal bold 16px/21px Roboto;
    min-width: 200px;
    padding-left: 50px;

    span {
      margin-left: -35px;
      z-index: 2;
    }

    .Gradient {
      height: 35px;
      width: 35px;

      &.Connecting {
        width: 200px;
      }

      .img {
        width: 15px;
        height: 13px;
        left: 10px;
      }
    }

    .WalletId {
      font: normal normal bold 16px/21px Roboto;
      margin-right: 16px;
    }
  }
}
