.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: transparent radial-gradient(closest-side at 50% 50%, #1C3138 0%, #151F2D 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  min-height: 100vh;

  .LogoContainer {
    display: block;
    color: #22E4AC;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 64px;

    img {
      width: 110px;
      height: 95px;
      margin-bottom: 32px;
    }

    div {
      text-align: center;
    }
  }

  .ConnectButton {
    margin-bottom: 54px;
  }

  .TradeContainer {
    display: flex;
    margin-bottom: 58px;

    .Side {
      display: flex;
      flex-direction: column;

      &.Left {
        align-items: flex-end;
      }

      &.Right {
        align-items: flex-start;
      }

      .Label {
        text-align: center;
        font: normal normal 300 24px/32px Roboto;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 0.3;
        margin-bottom: 15px;
        align-self: center;
      }
    }

    .Center {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 192px;
    }
  }

  .InfoContainer {
    height: 64px;
    margin-bottom: 128px;

    .Input {
      margin-left: 0;

      .InfoData {
        display: flex;
        justify-content: space-between;
        font: normal normal bold 22px/29px Roboto;
        color: #FFFFFF;
        width: 100%;

        span {
          opacity: 0.5;
        }

        .Data {
          text-align: right;
          opacity: 0.7;
        }
      }
    }
  }

  .Button {
    margin-bottom: 61px;
  }

  .Copyright {
    text-align: center;
    font: normal normal 300 18px/24px Roboto;
    color: rgba(255, 255, 255, .3);
    display: block;

    a {
      margin-left: 10px;
      color: white;
      text-decoration: none;
    }
  }

  .Stats {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;
    margin-top: -150px;

    .Input {
      margin-left: 0;
    }

    .StatsText {
      text-align: left;
      font: normal normal bold 18px/24px Roboto;
      letter-spacing: 0;
      color: #FFFFFF;
      opacity: 0.5;
    }

    .StatsRow {
      display: flex;
      align-items: center;
      height: 56px;
      padding-left: 5px;

      .Image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;

        img {
          width: 24px;
          height: 24px;
        }
      }

      .StatsInfo {
        display: flex;
        justify-content: space-between;
        font: normal normal 300 16px/21px Roboto;
        color: #FFFFFF;
        width: 100%;

        .Label {
          padding-left: 16px;
          text-align: left;
          font-weight: bold;
          opacity: 0.5;
        }

        .Value {
          text-align: right;
          opacity: 0.4;
          padding-right: 40px;
        }
      }
    }
  }
}
